.login_img {
    width: 100%;
    text-align: center;
}

.login_img img {
    width: 500px !important;
    height: 400px !important;
    object-fit: contain;
}

.login_form {
    padding: 50px;
    background-color: orange;
    position: relative;
    width: 40%;

}

.login_container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 100px;
}

/* .login_container.user{
    width: 20px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%,-9%);
} */
.login_form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.login_form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.login_form input:focus {
    outline: none;

}

.auth_btn {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.889) !important;
    border: none !important;
    text-decoration: none !important;
}

.login_form p {
    font-size: .9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;

}

.login_form p a {
    color: var(--heading-color);
    margin-left: 5px;
    font-weight: 500;

}

/* .user{
height: 100px;
width: 100px;
margin-left: 80px;
} */
/* padding-top: 30%; */

.user {
    border-radius: 50%;
    display: block;
    height: 124px !important;
    width: 160px;
    margin-top: -45px;
}

.m1 {
    background-color: orange;
    padding: 80px;
    width: 400px;
}

.n1 {
    width: 1000px;
}

.input1 {
    height: 34px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
.para{
    font-size: 17px;
    text-decoration: none;
    color: white;
}
.para:hover{
    color: white;
}